<!DOCTYPE html>
<html>
<head>
  <title>Ottrick</title>
  <%= stylesheet_link_tag    "ottrick/application", media: "all" %>
  <%= javascript_include_tag "ottrick/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
